<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Shop</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <% if (success_msg && success_msg.length > 0) { %>
            <div class="alert alert-success">
                <%= success_msg %>
            </div>
        <% } %>

        <% if (error_msg && error_msg.length > 0) { %>
            <div class="alert alert-danger">
                <%= error_msg %>
            </div>
        <% } %>
    <div class="main-container">
        <div class="side-container collapsed" id="sidebar">
            <div class="side-contents">
                <div class="collection-products">
                    <div>
                        <a href="/new-collections">New Collections</a>
                    </div>
                    <div>
                        <a href="/all-products">All Products</a>
                    </div>
                    <div>
                        <a href="/discounted-products">Discounted Products</a>
                    </div>
                </div>
                <div class="filter-products">
                    <span style="font-size: 0.92rem;">Filter by:</span>
                    <div>
                        <a href="/availability">Availability</a>
                    </div>
                    <div>
                        <a href="/discount">Discount</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-container">
            <% if(products.length > 0) { %>
                <div class="all-products">
                    <div class="product">
                        <% products.forEach((product) => { %>
                            <div class="product-content">
                                <img src="data:image/jpeg;base64, <%= product.productImage.toString('base64') %>" alt="product-image">
                                <div class="product-info">
                                    <p><%= product.productName %></p>
                                    <p>₹ <%= product.productPrice %></p>
                                </div>
                                <% if(userData) { %>
                                    <a href="/users/add-to-cart/<%= product._id %>"><i class="fa-solid fa-circle-plus"></i></a>
                                <% } %>
                            </div>
                        <% })%>
                    </div>
                </div>
            <% } else { %>
                <div class="no-products">
                    <span>No Products To Display.</span>
                </div>
            <% } %>
        </div>
    </div>
    <script src="/javascripts/shop.js"></script>
</body>
</html>